@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');

* {
    scroll-behavior: smooth;
    color: white;
}

.leftside, .rightside {
    height: 50vh;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

@media screen and (min-width:768px){
    .leftside, .rightside {
        height: 100vh;
    }
} 

.leftside {
    background-image: url(./assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.rightside>form {
    border: 0.05cm solid black;
}
